<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>


	<form method="post">
		Username : <input type="text" name="username"> <br>
		Password : <input type="Password" name="pass">
		<br>
		<input type="submit" name="Submit">
	</form>

</body>
</html>